body {
	background: url('../images/bg2.png') center bottom no-repeat #fff;
	background-size: cover;
	border: 30px solid #fff;
	height: 100vh;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
h1 {}
h1 span {
	font-weight: bold;
	border-bottom: 2px dashed #fff;
}
.dialog, .dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
}
.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}
.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}
.dialog__content {
	width: 50%;
	max-width: 560px;
	min-width: 290px;
	background: #fff;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
}
.dialog--open .dialog__content {
	pointer-events: auto;
}


/* About content*/
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
}

.container {
	position: relative;
	-webkit-transition: -webkit-transform 0.3s 0.1s;
	transition: transform 0.3s 0.1s;
}
.container--move {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale3d(0.95, 0.95, 1);
	transform: scale3d(0.95, 0.95, 1);
}
.dialog.dialog--open .dialog__content, .dialog.dialog--close .dialog__content {
	opacity: 1;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.dialog.dialog--open .dialog__content {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: anim-open;
	animation-name: anim-open;
}
.dialog.dialog--close .dialog__content {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: anim-close;
	animation-name: anim-close;
}
 @-webkit-keyframes anim-open {
 0% {
-webkit-transform: translate3d(0, calc(50vh + 50%), 0);
}
 100% {
-webkit-transform: translate3d(0, 0, 0);
}
}
 @keyframes anim-open {
 0% {
-webkit-transform: translate3d(0, calc(50vh + 50%), 0);
transform: translate3d(0, calc(50vh + 50%), 0);
}
 100% {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}
 @-webkit-keyframes anim-close {
 0% {
-webkit-transform: translate3d(0, 0, 0);
}
 100% {
-webkit-transform: translate3d(0, calc(50vh + 50%), 0);
}
}
 @keyframes anim-close {
 0% {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
 100% {
-webkit-transform: translate3d(0, calc(50vh + 50%), 0);
transform: translate3d(0, calc(50vh + 50%), 0);
}
}
